// Variables
$colorOrange: #f56a6a;
$colorDark: #3d4449;
$colorGray: #7f888f;

@import "node_modules/normalize.css/normalize";

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  color: #333;
}
