.page {
  display: flex;
  flex-direction: row;
}

// Start sidebar styles
.sidebar {
  width: 400px;
  background-color: $colorGrayLighter;

  &__form {
    background-color: $colorGrayLight;
    padding: 35px;
    position: relative;
  }

  &__input {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 12px 40px 12px 20px;
    border: 1px solid #d2d7d9bf;
    border-radius: 6px;

    &:focus {
      border-color: $colorOrange;
      box-shadow: 0 0 0 1px $colorOrange;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    right: 47px;
    top: calc(50% - 8px);
    color: $colorGray;
  }

  &__devider {
    height: 2px;
    background-color: $colorGray;
    margin: 50px 35px;
  }

  &__nav {
    padding: 35px;
  }

  &__heading {
    display: inline-block;
    border-bottom: 3px solid $colorOrange;
    padding: 0 25px 8px 0;
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
      padding: 10px 0;
      border-bottom: 1px solid $colorGray;
    }

    &-link {
      font-size: 1rem;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: $colorDark;
      padding: 10px 0;
      position: relative;
      cursor: pointer;
      user-select: none;

      &.active {
        color: $colorOrange;
      }

      &-icon {
        position: absolute;
        right: 0;
        top: calc(50% - 8px);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: $colorOrange;
      }

      &.active + .sidebar__submenu {
        display: block;
      }

      &.active > .sidebar__menu-link-icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__submenu {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-left: 25px;
    list-style: none;
    display: none;

    &-item {
      padding: 7px 0;
    }

    &-link {
      padding: 7px 0;
      color: $colorGray;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      display: block;

      &:hover {
        color: $colorOrange;
      }
    }
  }

  &__trend {
    padding: 0 35px 35px 35px;
  }

  &__card {
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid $colorGray;
  }

  &__img {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      display: block;
      min-width: 100%;
      transition: all 0.1s ease-in-out;
    }
  }

  &__figcaption {
    color: $colorGray;
  }
}

.main-content {
  flex-grow: 1;
}
