include ./../includes/mixins

- 
  var menuItems = [{label: 'Homepage'},
    {label: 'Generic'},
    {label: 'Elements'},
    {label: 'Submenu', elements: [
      'Submenu 1',
      'Submenu 2',
      'Submenu 3',
      'Submenu 4'
      ]
    },
    {label: 'Skills'},
    {label: 'Portfolio'},
    {label: 'Contact'}
    ];
  
  var trendCards = [
    {
      src: 'pic07.jpg',
      caption: 'Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.',
    },
    {
      src: 'pic08.jpg',
      caption: 'Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.',
    },
    {
      src: 'pic09.jpg',
      caption: 'Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.',
    }
  ]

aside.sidebar
    .sidebar__form
      input.sidebar__input(type="text", placeholder="Search")
      i.sidebar__icon.fas.fa-search.fa-flip-horizontal.fa-lg  
    .sidebar__devider
    nav.sidebar__nav
      header.sidebar__header
        h2.sidebar__heading Menu
      ul.sidebar__menu
        each item in menuItems
          li.sidebar__menu-item
            if !item.elements
              a.sidebar__menu-link(href="#")= item.label
            else
              span.sidebar__menu-link= item.label
                i.sidebar__menu-link-icon.fas.fa-chevron-down
              ul.sidebar__submenu
                for ele in item.elements
                  li.sidebar__submenu-item
                    a.sidebar__submenu-link(href="#")= ele
    .sidebar__devider
    .sidebar__trend
      h2.sidebar__heading Trends
      each card in trendCards
        +sidebarCard(card.caption, card.src)
      +button('More')
    .sidebar__devider
    .sidebar__contact
      h2.sidebar__heading Get in touch
      p Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
      address.sidebar__contact-info
        ul.fa-ul
          li.sidebar__contact-item
            span.fa-li
              i.sidebar__contact-icon.fas.fa-envelope.fa-lg
            span information@untitled.tld
          li.sidebar__contact-item
            span.fa-li
              i.sidebar__contact-icon.fas.fa-phone.fa-lg
            span (000) 000-0000
          li.sidebar__contact-item
            span.fa-li
              i.sidebar__contact-icon.fas.fa-home.fa-lg
            span 1234 Somewhere Road #8254 Nashville, TN 00000-0000
    .sidebar__devider
    .sidebar__footer
      p 
        small © Untitled. All rights reserved. Demo Images: Unsplash. Design: HTML5 UP.
