mixin sidebarCard(caption, img)
  figure.sidebar__card
    .sidebar__img
      img(src="images/sidebar_cards/" + img, alt=caption)
    figcaption.sidebar__figcaption= caption

mixin button(text)
  a.btn(href="#")= text

  